server {
	set $dnbase_name __REPLACE__dnbase_name;
	server_name  __REPLACE__subdomain.*;
	set $serv_root __REPLACE__rootdir/$dnbase_name/__REPLACE__subdir;
	include templates/base_server;
	location / {
		root   $serv_root;
		include templates/base_indexes;
		try_files $uri $uri/ /index.php?$args;
	}
	include templates/errors_page;
	location ~ \.php$ {
		root $serv_root;
		include templates/base_php-yii;
	}
	include templates/close_ht;
}
